* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.container {
  display: none;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 300;
}

.display .spinner-container {
  opacity: 0;
  visibility: hidden;
}

.circles {
  width: 8rem;
  height: 8rem;
  position: relative;
  opacity: 0;
  visibility: hidden;
  animation: displayCircles 4s;
}

/* here we add a hide and show for the circles */
@keyframes displayCircles {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  25% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.circles div {
  animation: circles 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 4rem 4rem;
}

.circles div::after {
  content: '';
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #c29525;
  margin: -0.4rem 0 0 -0.4rem;
}

.circles div:nth-child(1) {
  animation-delay: -0.036s;
}

.circles div:nth-child(1)::after {
  top: 6.3rem;
  left: 6.3rem;
}

.circles div:nth-child(2) {
  animation-delay: -0.072s;
}

.circles div:nth-child(2)::after {
  top: 6.8rem;
  left: 5.6rem;
}

.circles div:nth-child(3) {
  animation-delay: -0.108s;
}

.circles div:nth-child(3)::after {
  top: 7.1rem;
  left: 4.8rem;
}

.circles div:nth-child(4) {
  animation-delay: -0.144s;
}

.circles div:nth-child(4)::after {
  top: 7.2rem;
  left: 4rem;
}

.circles div:nth-child(5) {
  animation-delay: -0.18s;
}

.circles div:nth-child(5)::after {
  top: 7.1rem;
  left: 3.2rem;
}

.circles div:nth-child(6) {
  animation-delay: -0.216s;
}

.circles div:nth-child(6)::after {
  top: 6.8rem;
  left: 2.4rem;
}

.circles div:nth-child(7) {
  animation-delay: -0.252s;
}

.circles div:nth-child(7)::after {
  top: 6.3rem;
  left: 1.7rem;
}

.circles div:nth-child(8) {
  animation-delay: -0.288s;
}

.circles div:nth-child(8)::after {
  top: 5.6rem;
  left: 1.2rem;
}

@keyframes circles {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: none;
}

.display .container {
  display: block;
}

.hamburger-menu {
  /* note how siziing is in rem for the bux */
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;

  /*fix the line height */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  /* end fix line height */

  transition: right 0.7s;
}

.change .hamburger-menu {
  /* here we move the menu right 33 rem */
  right: 33rem;
}

/* lines are visible but on top of each other */
.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

/* rotate and move slightly*/
.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.hamburger-menu span {
  position: absolute;
  left: 5rem;
  width: 10rem;
  height: 4rem;
  background-color: #e2b646;

  /* place text in the center */
  display: flex;
  justify-content: center;
  align-items: center;

  /* end place text */

  color: #fff;
  font-family: 'Baloo Da 2', serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;

  /* start hidden */
  opacity: 0;
  visibility: hidden;
}

.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
}

.hamburger-menu span::before {
  content: '';
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid #e2b646;
  border-bottom: 1rem solid;
  border-top: 1rem solid;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}

/*
STEP ONE notice as soonas you do this -- it folds the banner and header into itself */
/* 
.header {
    width: 100%;
    height: 100vh;

}

.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rbga(0,0,0,0.8);
} */

/* STEP TWO */
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rbga(0, 0, 0, 0.8);
  /* here we need to assign scroll bars */
  overflow: hidden; /* get rid of scroll bars */
}

/* note how we stle both the image wrapper and the image */
/* both get 100% */
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;

  /* now we apply our animation with the name and property s follows */
  animation-name: scale;
  animation-duration: 20s;

  /* may also be written 
    animation: scale 20s
    */
}

/* increase scale and then decrease  */
@keyframes scale {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

/* note how we use position relative to set this opsition */
.banner {
  position: absolute;
  top: 30%;
  left: 15%;
  perspective: 100rem; /* reqiored fpr 3d perspective*/
}

.banner h1 {
  font-family: 'Baloo Da 2', serif;
  font-size: 8rem;
  font-weight: 300;
  color: #fff;
  width: 50%;
  line-height: 9rem; /* decrease line height */
  /* make it appear on two lines */
  width: 50%;
  letter-spacing: 0.2rem;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  /* now we assign the property, duration, delay*/
  animation: moveBanner 1s 0.5s forwards;
}

.banner p {
  font-family: 'Josefin Slab', serif;
  font-size: 4rem;
  color: #fff;
  width: 70%;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  /* now we assign the property, duration, delay*/
  animation: moveBanner 1s 0.7s forwards;
}

.banner button {
  width: 25rem;
  height: 7rem;
  background-color: #c29525;
  border: none; /* get rid of default border*/
  font-family: 'Muli', serif;
  font-size: 2rem; /* increase font size*/
  text-transform: uppercase;
  color: #fff;
  /* shadow on everything */
  /* text shadow */
  /* button shadow */
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
  /* now we assign the property, duration, delay*/
  animation: moveBanner 1s 0.8s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  /* notice that we can hide by moving to the right the same
  distance as the width of itself*/
  right: -40rem;
  background-color: #fff;
  transition: right 0.3s;
  z-index: 100;
}

.change .sidebar {
  right: 0;
}

/* now we position the menu in teh center */
/* note the usage of % which will help with media queries */
.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  /* here we use transform to center these */
  transform: translate(-50%, -50%);
}

/* notice that we are not using flex */
/* we are using block level properties for li and using text-align center to manage*/
.menu-item {
  text-align: center;
}

.menu-link {
  font-family: 'Baloo Da 2', serif;
  font-size: 4rem;
  color: #555;
  position: relative;
}

.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: #c29525;
  /* hide before psuedo element */
  width: 0;
  overflow: hidden;
  /* do not wrap team*/
  white-space: nowrap;
}

.menu-link:hover::before {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;

  /* now we use flex box */
  display: flex;
  justify-content: center;
}

/* here we create boxes for the items */
.social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #777;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-media i:hover {
  background-color: #c29525;
}

/* about us */

.about-us {
  width: 100%;
  background-color: #f5f5f5;
}

/* how you can center a title
put a wrapper around it then flex box it */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* top 0 right 10 bottom 0 left side */
  padding: 7rem 0 10rem 0;
}

.section-heading {
  font-family: 'Muli', serif;
  font-size: 5rem;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 6rem;
}

/* look at my line!! */
.underline {
  width: 12rem;
  height: 0.3rem;
  background-color: #c29525;
}

.services {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  grid-row-gap: 4rem;
}

.service {
  width: 100%;
  margin-bottom: 2rem;
}

/* not how we use the image wrapper to make it disappear */
/* .about-us-img-wrapper {
  width: 50rem;
} */

.about-us-img-wrapper {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 100%;
}

.about-us-img-wrapper img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

/* .service {
  width: 100%;
  margin-bottom: 2rem;
} */

.service:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.service:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}

.service:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}

.service:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}

.service:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}

.service:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}

.service-header {
  display: flex;
  align-items: center;
}

.service-header i {
  font-size: 4rem;
  color: #4b4b4b;
  margin-right: 2rem;
}

.service-header h3 {
  font-family: 'Baloo Da 2', serif;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.service-text {
  font-family: 'Josefin Slab', serif;
  font-size: 1.6rem;
  text-align: justify;
}

/* TEAM */

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 20rem 5rem;
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;

  /* note that the width of the warpper is needed for flex space evenly*/
  width: 100%;
}

.card {
  width: 37rem;
  height: 45rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  position: relative;
}

/* now we make images the same size*/
/* note the use of image wrapper ... always! */
.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

/* here is where we add the border radius to the image -- not the image */
.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8; /* notice how opacity is always reduced */
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

/* change the card darkness / opacity on hover */
/* make it less opaque -- therefore ddarker */
.card:hover .card-img-wrapper img {
  opacity: 0.2;
}
/* end change card darkness */

/* notice how card image and info have thier own wrapper */
/* notice how we use absolute to place on the bottom of each card */
.card-info {
  position: absolute;
  /* bottom: 2rem; */

  /* make it invisible */
  /*note sliding up -- because bottom o*/
  opacity: 0;
  bottom: 0;
  visibility: hidden;

  /* pick up any changes */
  transition: all 0.3s;
  /* end pick up any changes */

  /* end invisible */
  padding: 2rem;

  /* if you want to assign shadow to all children -- do it on the parent -
  here is where card info is helpful! */
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.card:hover .card-info {
  /* opposite these */
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
  /* opposite these*/
}

.card-info h2 {
  font-family: 'Baloo Da 2', serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: #eee;
}

.card-info h3 {
  font-family: 'Muli', serif;
  font-size: 2rem;
  font-weight: 500;
  color: #a52a2a;
  margin-bottom: 1rem;
}

.card-info p {
  font-family: 'Baloo da 2', serif;
  font-size: 1.4rem;

  /* line height */
  line-height: 1.6rem;
  font-weight: 300;
  color: #eee;

  /* decrease width of paragraph */
  width: 80%;
  margin-bottom: 2rem;
}

.card-info button {
  width: 10rem;
  height: 3rem;
  background-color: #c29525;

  /* get rid of default border */
  border: none;
  font-family: 'Baloo Da 2', serif;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #eee;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

/* END TEAM */

/* START CONTACT */
/* make width and height 100% for sections */

.contact {
  /* start by defning height and width */
  width: 100%;
  height: 100vh;
  background-color: #272727;

  /* decide container type -- flex or grid */
  /* decide overall positioning */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrapper {
  width: 60%;
  height: 75rem;
  display: flex;
  /*temporary to make visibiel */
  /* background-color: #fff; */
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5);
}

.contact-left {
  width: 35%;
  background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
    url(images/contact-bg.jpg) center no-repeat;
  background-size: cover;
}

.contact-right {
  width: 65%;
  background-color: #eee;
  padding: 3rem 10rem 10rem 10rem;
}

.contact-heading {
  font-family: 'Baloo Da 2', serif;
  font-size: 6rem;
  font-weight: 300;
  color: #272727;
  margin-bottom: 5rem;
  text-align: center;
}

.contact-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  position: relative;
}

.field {
  width: 45rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem dashed #636363;
  margin: 3rem 0;
  padding: 1rem 1rem 1rem 0;
  font-family: 'Muli', serif;
  font-size: 1.6rem;
  color: #4b4b4b;
}

.input-group input {
  height: 4rem;
}

.input-group textarea {
  max-height: 7rem;
  max-width: 45rem;
}

.input-group label {
  position: absolute;
  left: 0;
  font-family: 'Baloo Da 2', serif;
  font-size: 1.8rem;
  color: #4b4b4b;
  text-transform: uppercase;
  pointer-events: none;
  transition: all 0.3s;
}

.input-label {
  bottom: 3rem;
}

.message {
  bottom: 6rem;
}

.field:focus {
  border-bottom-style: solid;
}

.field:focus ~ label {
  transform: translateY(-3rem);
  font-size: 1.2rem;
}

.submit-btn {
  width: 45rem;
  height: 5rem;
  background-color: #c29525;
  color: #fff;
  border: none;
  margin-top: 2rem;
  font-family: 'Muli', serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

/* END CONTACT */

/* FOOTER */

.footer {
  width: 100%;
  height: 15rem;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: 'Baloo Da 2', serif;
  font-size: 1.6rem;
  color: #a7a7a7;
}

.social-list a {
  margin: 0 2rem;
}

.social-list i {
  font-size: 2rem;
  color: #a7a7a7;
}

/* END FOOTER */

.scroll-btn {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #e2b646;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

/* 1408 * 1000*/
@media (max-width: 1500px) {
  .about-us-img-wrapper {
    grid-row: 3 / -1;
  }

  .card {
    width: 34rem;
  }

  .contact-wrapper {
    width: 80%;
    height: 65rem;
  }

  .footer-content {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  .banner h1 {
    font-size: 6rem;
    line-height: 7rem;
  }

  .banner p {
    font-size: 3rem;
  }

  .banner button {
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
  }

  .menu-link {
    font-size: 3rem;
  }

  .service:nth-child(1) {
    grid-column: 3 / 7;
    grid-row: 1 / 3;
  }

  .service:nth-child(2) {
    grid-column: 2 / 6;
    grid-row: 3 / 5;
  }

  .service:nth-child(3) {
    grid-column: 3 / 7;
    grid-row: 5 / -1;
  }

  .service:nth-child(4) {
    grid-column: 11 / 15;
    grid-row: 1 / 3;
  }

  .service:nth-child(5) {
    grid-column: 12 / 16;
    grid-row: 3 / 5;
  }

  .service:nth-child(6) {
    grid-column: 11 / 15;
    grid-row: 5 / -1;
  }
}

/* 1051 * 648 */
@media (max-width: 1300px) {
  .team {
    padding-bottom: 5rem;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .card {
    margin-bottom: 8rem;
  }

  .contact-wrapper {
    width: 90%;
    height: 55rem;
  }

  .contact-heading {
    margin-bottom: 2rem;
  }

  .field {
    margin: 2rem 0;
  }
}

/*at 1000 px it becomes vertical */
/* 721 / 648 */

@media (max-width: 1000px) {
  .banner h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .banner p {
    font-size: 2.5rem;
  }

  .banner button {
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 40rem;
    margin-bottom: 6rem;
  }

  .about-us-img-wrapper {
    width: 40rem;
  }

  .about-us-img-wrapper img {
    width: 100%;
  }

  .contact-left {
    width: 0;
  }

  .contact-right {
    width: 100%;
  }

  .field {
    width: 55rem;
  }

  .input-group textarea {
    max-width: 55rem;
  }

  .submit-btn {
    width: 55rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .copyright {
    order: 1;
    margin-top: 3rem;
  }
}

/* 505 x 686 */

@media (max-width: 700px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .fields {
    width: 35rem;
  }

  .input-group textarea {
    max-width: 35rem;
  }

  .submit-btn {
    width: 35rem;
  }
}

/* 328 * 600 */
/*footer becomes larger */
/* side drawer becomes full slcreen */
@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .sidebar {
    width: 100%;
    right: -100%;
  }

  .change .hamburger-menu {
    right: 38rem;
  }

  .service {
    width: 30rem;
  }

  /* higher */
  .footer {
    height: 18rem;
  }
}
